.RegisterContainer {
   width: 45rem;
   margin: auto;
}

.RegisterForm {
   position: relative;
}

.ForgotLink {
   position: absolute;
   right: 0;
   top: 65%;
}

.LoginLink {
   text-align: center;
   margin-top: 1.7rem;
}

.ButtonContainer {
   margin-top: 5.5rem;
   text-align: center;
}