.LoginContainer {
   width: 45rem;
   margin: auto;
}

.LoginForm {
   position: relative;
}

.ForgotLink {
   position: absolute;
   right: 0;
   top: 65%;
}

.RegisterLink {
   text-align: center;
   margin-top: 1.7rem;
}

.ButtonContainer {
   margin-top: 5.5rem;
   text-align: center;
   display: flex;
   align-content: center;
   justify-content: center;
}

.PostForm {
   width: 40rem;
}

.Header {
   font-size: 1.75rem;
   margin-bottom: 2rem;
   text-align: center;
}