.Buttons {
   display: flex;
   margin-top: 2rem;
}

.Modal {
   width: 120rem;
}

.Label {
   text-align: center;
}
.Videos{
   display: flex;
   justify-content: space-between;
}

.Padding {
   margin: 2rem;
}